<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="./logs"/>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>-->
<!--        </layout>-->
<!--    </appender>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>



    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>./logs/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./was-logs/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="WARN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>./logs/warn.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./was-logs/warn.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="INFO_LOG" />
    </root>
    <logger name="org.springframework" additivity="false">
        <level value = "INFO" />
        <appender-ref ref="INFO_LOG" />
    </logger>

    <logger name="org.mybatis" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="INFO_LOG" />
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="INFO_LOG" />
        <appender-ref ref="STDOUT"/>
    </logger>

<!--    &lt;!&ndash; log4jdbc 옵션 설정 &ndash;&gt;-->
<!--    <logger name="jdbc" level="OFF"/>-->
<!--    &lt;!&ndash; sql문만 로깅할지 여부 &ndash;&gt;-->
<!--    <logger name="jdbc.sqlonly" level="OFF"/>-->
<!--    &lt;!&ndash; 쿼리문 수행시간 로깅 여부 &ndash;&gt;-->
<!--    <logger name="jdbc.sqltiming" level="DEBUG"/>-->
<!--    &lt;!&ndash; ResultSet외 모든 JDBC 호출 정보 로깅할지 여부 &ndash;&gt;-->
<!--    <logger name="jdbc.audit" level="OFF"/>-->
<!--    &lt;!&ndash; ResultSet 포함 모든 JDBC 호출 정보를 로깅 &ndash;&gt;-->
<!--    <logger name="jdbc.resultset" level="OFF"/>-->
<!--    <logger name="jdbc.resultsettable" level="DEBUG"/>-->
<!--    &lt;!&ndash; connection open close 로깅 여부 &ndash;&gt;-->
<!--    <logger name="jdbc.connection" level="OFF"/>-->

</configuration>